*{
  margin: 0;
  padding: 0;
  
}

.pagina-completa{
  transition: all 1s ease-in-out;
  padding-top: 60px;
  padding-left: 20%;
}
.pagina-completa .active{
  transition: all 1s ease-in-out;
  padding-top: 60px;
  padding-left: 10%;
}

@media screen and (max-width: 700px) {
  .pagina-completa{
    transition: all 1s ease-in-out;
    padding-top: 70px;
    padding-left: 0%;
  }
}